<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/css/output.css" />
  </head>
  <body class="bg-gray-100 min-h-screen p-8">
<header></header>
<main>
  <section class="banner">
<div class="banner-content">
<div class="banner-text">
<h1>✓Выбрали</h1>
<h1>✓Купили</h1>
<h1>✓Устоновили</h1>
<p>Пропустите этап поиска шиномонтажа <br> и лишних платежей. Начните с первого<br> шага!</p>
</div>
</div>
  </section>
</main>
  </body>
</html>
