<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main_style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="banner-container">
          <div class="banner">
            <div class="banner-slide">
              <img
                src="https://avtoobuv73.ru/images/slider-12-08-22.jpg"
                alt="колеса"
              />
            </div>
            <div class="banner-slide">
              <img
                src="https://avtoobuv73.ru/images/slider-sale-2.webp"
                alt="шины"
              />
            </div>
            <div class="banner-slide">
              <img
                src="https://avtoobuv73.ru/images/slide-23-07-24.jpg"
                alt="акции"
              />
            </div>
          </div>

          <!-- Кнопки навигации -->
          <button class="banner-btn banner-prev">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="banner-btn banner-next">
            <i class="fas fa-chevron-right"></i>
          </button>

          <div class="banner-dots"></div>
        </div>
      </div>
      <section class="card_section">
        <div class="my-24">
          <div class="tabs-controls">
            <div class="caard-title">
              <h1>Подобрали для вас</h1>
            </div>
            <div class="tabs-buttons">
              <button class="tab-btn active" data-tab="recommended">
                Рекомендуемые
              </button>
              <button class="tab-btn" data-tab="winter-tires">
                Зимние шины
              </button>
              <button class="tab-btn" data-tab="summer-tires">
                Летние шины
              </button>
              <button class="tab-btn" data-tab="discs">Диски</button>
            </div>
          </div>

          <div class="tabs-container">
            <div class="tab-content active" id="recommended">
              <div class="card_conteiner">
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Зимние шины -->
            <div class="tab-content" id="winter-tires">
              <div class="card_conteiner">
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- олетние шины -->
            <div class="tab-content" id="summer-tires">
              <div class="card_conteiner">
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- диски -->
            <div class="tab-content" id="discs">
              <div class="card_conteiner">
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="product-image">
                    <img src="../images/card_image" alt="" />
                  </div>
                  <div class="product-info">
                    <div class="category">✱ Зимние шины</div>
                    <div class="product-name">
                      Ikon (Nokian Tyres) Autograph Ice 9 SUV
                    </div>
                    <div class="prices">
                      <span class="current-price">17 190₽</span>
                    </div>
                    <div class="buttons">
                      <a class="btn-basket">В корзину</a>
                      <button class="btn-order">Заказать сейчас</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="services">
        <div class="services-header">
          <h1>Мы быстро и качественно выполним следующие виды работ</h1>
        </div>

        <div class="services-content">
          <div class="services-grid">
            <div class="services-row">
              <div class="service-card">
                <div class="card-header">
                  <div class="service-icon">
                    <img
                      src="../images/service-icon-image1.png"
                      alt="Шиномонтаж"
                    />
                    <h2>Шиномонтаж и балансировка</h2>
                  </div>
                </div>
                <ul class="service-list">
                  <li>Шиномонтаж, балансировка на 3D оборудовании</li>
                  <li>Подкачка и накачка шин азотом</li>
                  <li>
                    Ошиповка колёс <span class="price">5 руб. / 1 шип</span>
                  </li>
                  <li>
                    Повторная ошиповка зимних шин (теком)
                    <span class="price">15 руб. / 1 шип</span>
                  </li>
                </ul>
              </div>

              <div class="service-card">
                <div class="card-header">
                  <div class="service-icon">
                    <img
                      src="../images/service-icon-image2.png"
                      alt="Ремонт дисков"
                    />
                    <h2>Ремонт дисков и шин</h2>
                  </div>
                </div>
                <ul class="service-list">
                  <li>Правка и ремонт дисков (литых, кованных, стальных)</li>
                  <li>Ремонт шин</li>
                  <li>Сварка аргоном трещин на дисках</li>
                  <li>Продажа автокамер от 13 до 16</li>
                  <li>Автоколпаки на все авто</li>
                </ul>
              </div>
            </div>

            <div class="services-row">
              <div class="service-card">
                <div class="card-header">
                  <div class="service-icon">
                    <img
                      src="../images/service-icon-image3.png"
                      alt="СТО услуги"
                    />
                    <h2>СТО и дополнительные услуги</h2>
                  </div>
                </div>
                <ul class="service-list">
                  <li>Продажа шин и дисков (в ассортименте и под заказ)</li>
                  <li>Замена масла, диагностика ходовой части авто</li>
                  <li>Мелкий ремонт автомобилей</li>
                  <li>Подбор шин/дисков</li>
                  <li>Клубные скидки</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="acceptance-of-applications">
        <div class="tire-icon tire-icon-1">🛞</div>
        <div class="tire-icon tire-icon-2">🛞</div>
        <div class="tire-icon tire-icon-3">🛞</div>

        <div class="main-acceptance-of-applications">
          <div class="Tire-disc-selection">
            <h1>Подбор шин/дисков</h1>
            <p>
              Среди множества предложений на рынке важно <br />
              выбрать не просто товар, а надежного партнера. Мы <br />
              строим свою работу на опыте и высоком уровне <br />
              обслуживания. Наша цель — не просто продать, а <br />
              помочь вам сделать обоснованный выбор, который <br />
              обеспечит комфорт, экономию и безопасность в <br />
              любую погоду.
            </p>
          </div>

          <div class="Acceptance-of-applications">
            <h1>
              Прием заявок на товар ведется <br />
              ежедневно
            </h1>
            <p class="Waiting-period" style="margin-bottom: 50px">
              *Срок ожидания заказа: от 1 до 5 дней
            </p>
            <a class="number" href="tel:79372043814">+7(937)204-38-14</a>
          </div>
          <div class="Acceptance-of-applications">
            <h1>
              Прием заявок на товар ведеться <br />
              ежедневно
            </h1>
            <p class="Waiting-period" style="margin-bottom: 50px">
              *Срок ожидания заказа: от 1 до 5 дня
            </p>
            <a class="number" href="tel:79372043814">+7(937)204-38-14</a>
          </div>
        </div>
      </section>
      <section class="club-discounts">
        <div
          style="display: flex; justify-content: center"
          class="club-discounts-content"
        >
          <div class="club-discounts-text">
            <h1>Клубные скидки</h1>
            <p>
              Участникам "Клуба Ульяновских газелистов" предоставляется <br />
              скидка 20% на услуги шиномонтажа и балансировку колес, а
              <br />также предоставляются дополнительные скидки на товары в
              <br />
              нашем магазине. <br />Подробности уточняйте у продавца<br />
              Будем рады видеть вас по адресу: пр-т Созидателей, 35 <br />
              (Заволжский авторынок), ежедневно с 8.00 до 18.00. <br />
              Контактные телефоны: +7 (937) 204-38-14, +7 (9510) 94-74-64
            </p>
          </div>
          <img src="../images/club.png" alt="" class="img-club" />
        </div>
      </section>
      <section class="section-Advantages">
        <div class="conteiner_hexagon">
          <div class="hexagon_text_column">
            <div class="hexagon">
              <svg
                width="97"
                height="85"
                viewBox="0 0 97 85"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M90.9375 84.1614C90.9375 84.1614 97 84.1614 97 77.1479C97 70.1345 90.9375 49.0941 66.6875 49.0941C42.4375 49.0941 36.375 70.1345 36.375 77.1479C36.375 84.1614 42.4375 84.1614 42.4375 84.1614H90.9375ZM42.5709 77.1479L42.4375 77.1199C42.4436 75.2683 43.4499 69.896 47.045 65.0567C50.3915 60.519 56.2721 56.1076 66.6875 56.1076C77.0968 56.1076 82.9774 60.526 86.33 65.0567C89.9251 69.896 90.9254 75.2753 90.9375 77.1199L90.889 77.1339L90.8041 77.1479H42.5709ZM66.6875 35.0672C69.9033 35.0672 72.9873 33.5894 75.2612 30.9589C77.535 28.3283 78.8125 24.7605 78.8125 21.0403C78.8125 17.3202 77.535 13.7524 75.2612 11.1218C72.9873 8.49127 69.9033 7.01345 66.6875 7.01345C63.4717 7.01345 60.3877 8.49127 58.1138 11.1218C55.84 13.7524 54.5625 17.3202 54.5625 21.0403C54.5625 24.7605 55.84 28.3283 58.1138 30.9589C60.3877 33.5894 63.4717 35.0672 66.6875 35.0672ZM84.875 21.0403C84.875 23.8034 84.4046 26.5394 83.4906 29.0921C82.5766 31.6449 81.2369 33.9643 79.548 35.9181C77.8591 37.8719 75.8542 39.4217 73.6476 40.4791C71.4409 41.5365 69.0759 42.0807 66.6875 42.0807C64.2991 42.0807 61.9341 41.5365 59.7274 40.4791C57.5208 39.4217 55.5159 37.8719 53.827 35.9181C52.1381 33.9643 50.7984 31.6449 49.8844 29.0921C48.9704 26.5394 48.5 23.8034 48.5 21.0403C48.5 15.4601 50.4162 10.1084 53.827 6.16257C57.2378 2.21674 61.8639 0 66.6875 0C71.5111 0 76.1372 2.21674 79.548 6.16257C82.9588 10.1084 84.875 15.4601 84.875 21.0403ZM42.0495 51.0579C39.623 50.1806 37.1237 49.6 34.5926 49.3256C33.1702 49.1651 31.7417 49.0878 30.3125 49.0941C6.0625 49.0941 0 70.1345 0 77.1479C0 81.8235 2.02083 84.1614 6.0625 84.1614H31.622C30.7237 81.9717 30.2755 79.5713 30.3125 77.1479C30.3125 70.0643 32.5981 62.8265 36.9206 56.7809C38.3938 54.7189 40.1095 52.7902 42.0495 51.0579ZM29.8275 56.1076C26.2417 62.3457 24.3036 69.6567 24.25 77.1479H6.0625C6.0625 75.3244 7.05675 69.9241 10.67 65.0567C13.9741 60.5962 19.7153 56.2478 29.8275 56.1146V56.1076ZM9.09375 24.5471C9.09375 18.9668 11.0099 13.6151 14.4207 9.6693C17.8316 5.72347 22.4576 3.50672 27.2812 3.50672C32.1049 3.50672 36.7309 5.72347 40.1418 9.6693C43.5526 13.6151 45.4688 18.9668 45.4688 24.5471C45.4688 30.1273 43.5526 35.479 40.1418 39.4248C36.7309 43.3707 32.1049 45.5874 27.2812 45.5874C22.4576 45.5874 17.8316 43.3707 14.4207 39.4248C11.0099 35.479 9.09375 30.1273 9.09375 24.5471ZM27.2812 10.5202C24.0655 10.5202 20.9815 11.998 18.7076 14.6286C16.4337 17.2591 15.1562 20.8269 15.1562 24.5471C15.1562 28.2672 16.4337 31.835 18.7076 34.4656C20.9815 37.0961 24.0655 38.574 27.2812 38.574C30.497 38.574 33.581 37.0961 35.8549 34.4656C38.1288 31.835 39.4062 28.2672 39.4062 24.5471C39.4062 20.8269 38.1288 17.2591 35.8549 14.6286C33.581 11.998 30.497 10.5202 27.2812 10.5202Z"
                  fill="black"
                />
              </svg>
            </div>
            <h3>Индивидуальный подход</h3>
            <p>
              В основе нашей работы — доброжелательное отношение и
              индивидуальный подход к каждому автомобилю.
            </p>
          </div>
          <div class="hexagon_text_column">
            <div class="hexagon">
              <svg
                width="97"
                height="105"
                viewBox="0 0 97 105"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.92831 52.1042C6.92727 44.3656 8.68721 36.7629 12.0312 30.0606C15.3752 23.3582 20.1855 17.7924 25.9784 13.9225C31.7713 10.0527 38.3428 8.01517 45.0322 8.01486C51.7216 8.01456 58.2932 10.0515 64.0864 13.9208C64.8816 14.4438 65.8234 14.5818 66.7062 14.3045C67.589 14.0272 68.3411 13.3573 68.7985 12.4408C69.2559 11.5243 69.3814 10.4358 69.1476 9.41269C68.9138 8.38959 68.3396 7.51501 67.5505 6.97981C58.9654 1.24573 48.9847 -1.05105 39.1563 0.445666C29.3279 1.94238 20.201 7.14894 13.1911 15.2579C6.18122 23.3668 1.68002 33.925 0.385616 45.295C-0.908789 56.6649 1.07593 68.2113 6.03198 78.1434C10.988 88.0754 18.6384 95.8382 27.7967 100.228C36.955 104.617 47.1094 105.388 56.6851 102.421C66.2607 99.454 74.7225 92.9146 80.7582 83.8171C86.7938 74.7196 90.066 63.5724 90.0673 52.1042C90.0673 51.0414 89.7023 50.022 89.0527 49.2705C88.403 48.5189 87.5219 48.0967 86.6032 48.0967C85.6844 48.0967 84.8033 48.5189 84.1537 49.2705C83.504 50.022 83.1391 51.0414 83.1391 52.1042C83.1391 63.7956 79.1244 75.0082 71.9783 83.2752C64.8321 91.5423 55.1399 96.1867 45.0337 96.1867C34.9275 96.1867 25.2353 91.5423 18.0891 83.2752C10.943 75.0082 6.92831 63.7956 6.92831 52.1042Z"
                  fill="black"
                />
                <path
                  d="M95.9841 14.8684C96.3062 14.4958 96.5617 14.0535 96.736 13.5667C96.9103 13.0798 97 12.5581 97 12.0311C97 11.5042 96.9103 10.9824 96.736 10.4956C96.5617 10.0087 96.3062 9.56641 95.9841 9.19381C95.662 8.8212 95.2797 8.52564 94.8588 8.32399C94.438 8.12234 93.987 8.01855 93.5315 8.01855C93.076 8.01855 92.625 8.12234 92.2042 8.32399C91.7833 8.52564 91.401 8.8212 91.0789 9.19381L45.0338 62.4695L26.7016 41.2538C26.3795 40.8812 25.9972 40.5856 25.5764 40.384C25.1555 40.1823 24.7045 40.0785 24.249 40.0785C23.7935 40.0785 23.3425 40.1823 22.9217 40.384C22.5009 40.5856 22.1185 40.8812 21.7964 41.2538C21.4743 41.6264 21.2189 42.0687 21.0445 42.5555C20.8702 43.0424 20.7805 43.5641 20.7805 44.0911C20.7805 44.618 20.8702 45.1398 21.0445 45.6266C21.2189 46.1135 21.4743 46.5558 21.7964 46.9284L42.5812 70.9734C42.903 71.3466 43.2852 71.6427 43.7061 71.8447C44.1269 72.0467 44.5781 72.1507 45.0338 72.1507C45.4894 72.1507 45.9406 72.0467 46.3614 71.8447C46.7823 71.6427 47.1646 71.3466 47.4864 70.9734L95.9841 14.8684Z"
                  fill="black"
                />
              </svg>
            </div>
            <h3>Ответственность и порядочность</h3>
            <p>
              Мы не берем деньги за несуществующие проблемы. Наши специалисты
              делают свою работу с чистой совестью.
            </p>
          </div>
          <div class="hexagon_text_column">
            <div class="hexagon">
              <svg
                width="91"
                height="107"
                viewBox="0 0 91 107"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M66.7852 69.0516C72.2922 60.2296 74.7587 49.2918 73.6913 38.4265C72.6239 27.5612 68.1013 17.5697 61.0283 10.4509C53.9554 3.33214 44.8536 -0.388913 35.544 0.032209C26.2344 0.453331 17.4036 4.98557 10.8182 12.7222C4.23276 20.4588 0.37848 30.8292 0.0264262 41.7587C-0.325627 52.6882 2.85051 63.3708 8.9194 71.6692C14.9883 79.9676 23.5024 85.2698 32.7583 86.5151C42.0142 87.7605 51.3293 84.857 58.8401 78.3857H58.8344C59.0012 78.6527 59.187 78.9087 59.3918 79.1535L81.2878 104.859C82.3542 106.112 83.8009 106.816 85.3095 106.816C86.8182 106.817 88.2653 106.114 89.3325 104.862C90.3996 103.61 90.9995 101.912 91 100.141C91.0005 98.3696 90.4017 96.6708 89.3353 95.418L67.4393 69.7126C67.236 69.4708 67.0174 69.2543 66.7852 69.0516ZM68.2525 43.3863C68.2525 48.2087 67.4435 52.9839 65.8715 57.4392C64.2995 61.8945 61.9954 65.9427 59.0908 69.3526C56.1862 72.7626 52.7379 75.4675 48.9428 77.313C45.1478 79.1584 41.0802 80.1083 36.9725 80.1083C32.8647 80.1083 28.7972 79.1584 25.0021 77.313C21.207 75.4675 17.7587 72.7626 14.8541 69.3526C11.9495 65.9427 9.64542 61.8945 8.07345 57.4392C6.50148 52.9839 5.69239 48.2087 5.69239 43.3863C5.69239 33.647 8.98796 24.3067 14.8541 17.42C20.7203 10.5333 28.6765 6.66435 36.9725 6.66435C45.2685 6.66435 53.2247 10.5333 59.0908 17.42C64.957 24.3067 68.2525 33.647 68.2525 43.3863Z"
                  fill="black"
                />
              </svg>
            </div>
            <h3>Большой ассортимент</h3>
            <p>
              Огромный выбор шин и дисков на автомобили разных моделей и марок.
              Мы подберем для вас лучшие диски и шины!
            </p>
          </div>
          <div class="hexagon_text_column">
            <div class="hexagon">
              <svg
                width="97"
                height="97"
                viewBox="0 0 97 97"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.1875 12.125V39.9276L60.625 82.3651L88.4276 54.5625L45.9901 12.125H18.1875ZM12.125 12.125C12.125 10.5171 12.7637 8.9751 13.9007 7.83816C15.0376 6.70123 16.5796 6.0625 18.1875 6.0625H45.9901C47.5979 6.06284 49.1396 6.70179 50.2763 7.83881L92.7138 50.2763C93.8504 51.4132 94.4888 52.9549 94.4888 54.5625C94.4888 56.1701 93.8504 57.7118 92.7138 58.8487L64.9112 86.6513C63.7743 87.7879 62.2326 88.4263 60.625 88.4263C59.0174 88.4263 57.4757 87.7879 56.3388 86.6513L13.9013 44.2138C12.7643 43.0771 12.1253 41.5354 12.125 39.9276V12.125Z"
                  fill="black"
                />
                <path
                  d="M33.3438 30.3125C32.5398 30.3125 31.7688 29.9931 31.2003 29.4247C30.6319 28.8562 30.3125 28.0852 30.3125 27.2812C30.3125 26.4773 30.6319 25.7063 31.2003 25.1378C31.7688 24.5694 32.5398 24.25 33.3438 24.25C34.1477 24.25 34.9187 24.5694 35.4872 25.1378C36.0556 25.7063 36.375 26.4773 36.375 27.2812C36.375 28.0852 36.0556 28.8562 35.4872 29.4247C34.9187 29.9931 34.1477 30.3125 33.3438 30.3125ZM33.3438 36.375C35.7556 36.375 38.0686 35.4169 39.774 33.7115C41.4794 32.0061 42.4375 29.6931 42.4375 27.2812C42.4375 24.8694 41.4794 22.5564 39.774 20.851C38.0686 19.1456 35.7556 18.1875 33.3438 18.1875C30.9319 18.1875 28.6189 19.1456 26.9135 20.851C25.2081 22.5564 24.25 24.8694 24.25 27.2812C24.25 29.6931 25.2081 32.0061 26.9135 33.7115C28.6189 35.4169 30.9319 36.375 33.3438 36.375ZM6.0625 42.9589C6.06284 44.5666 6.70179 46.1084 7.83881 47.2451L53.0469 92.4531L52.7862 92.7138C51.6493 93.8504 50.1076 94.4888 48.5 94.4888C46.8924 94.4888 45.3507 93.8504 44.2138 92.7138L1.77631 50.2763C0.639295 49.1396 0.000343364 47.5979 0 45.9901L0 18.1875C0 16.5796 0.638726 15.0376 1.77567 13.9007C2.9126 12.7637 4.45463 12.125 6.0625 12.125V42.9589Z"
                  fill="black"
                />
              </svg>
            </div>
            <h3>Доступные цены</h3>
            <p>
              Сравнительно доступная стоимость услуг ни сколько не влияет на
              высокое качество выполненной работы.
            </p>
          </div>
        </div>
      </section>

      <div class="gallery-container">
        <h1>Галерея</h1>
        <div class="gallery-track">
          <div class="gallery-item">
            <img src="../images/Rectangle 63.png" alt="image-slider" />
          </div>

          <div class="gallery-item">
            <img src="../images/Rectangle 64.png" alt="image-slider" />
          </div>

          <div class="gallery-item">
            <img src="../images/Rectangle 65.png" alt="image-slider" />
          </div>

          <div class="gallery-item">
            <img src="../images/ah.jpg" alt="image-slider" />
          </div>

          <div class="gallery-item">
            <img src="../images/ha.jpg" alt="image-slider" />
          </div>
          <div class="gallery-item">
            <img src="../images/20200208_113616.jpg" alt="image-slider" />
          </div>
          <div class="gallery-item">
            <img src="../images/20200208_113624.jpg" alt="image-slider" />
          </div>
          <div class="gallery-item">
            <img src="../images/20200208_113634.jpg" alt="image-slider" />
          </div>
          <div class="gallery-item">
            <img src="../images/20200208_113649.jpg" alt="image-slider" />
          </div>
          <div class="gallery-item">
            <img src="../images/20200209_075900.jpg" alt="image-slider" />
          </div>
          <div class="gallery-item">
            <img src="../images/aB1dCPkYsy4.jpg" alt="image-slider" />
          </div>
        </div>

        <div class="gallery-controls">
          <button
            class="nav-btn prev-btn"
            style="color: black; background-color: white"
          >
            <a><</a>
          </button>

          <button
            class="nav-btn next-btn"
            style="color: black; background-color: white"
          >
            <a>></a>
          </button>

          <div class="gallery-counter" style="display: none">
            <span class="current">1</span> / <span class="total">5</span>
          </div>
        </div>
      </div>
      <script src="../js/main.js"></script>
    </main>
  </body>
</html>
