<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
     <link rel="stylesheet" href="/css/main_style.css" />
  </head>
  <body class="bg-gray-100 min-h-screen p-8">
<%- include('partials/header') %>
<main>
  <section class="banner">
<div class="banner-content">
<div class="banner-text">

<h2 class="h2-active"><span>✓</span>Выбрали</h2>
<h2 ><span>✓</span>Купили</h2>
<h2><span>✓</span>Устоновили</h2>
<p>Пропустите этап поиска шиномонтажа <br> и лишних платежей. Начните с первого<br> шага!</p>
<button class="bunner-button">В каталог</button>
<img src="../images/wheels.png" alt=""  class="wheels-adaptiv">
</div>
</div>
  </section>
</main>
  </body>
</html>