@import "tailwindcss";

body{
  padding: 0;
  margin: 0;
 font-family: 'Inter', sans-serif;
}
.banner-content{
 padding: 50px;
}
.banner-text h2{ 
 color: white;
  font-size: 50px;
  display: flex;
  text-align: center;
  align-items: center;
}
.banner-text p{ 
  color: white;
  font-size: 1.6vw;
  margin-left: 15px;
}
.banner-text span{ 
  color: white;
  font-size: 50px;
 margin-right: 15px;
  
}

.banner {
  background-image: url(../images/banner-image.png);
  background-repeat: no-repeat;

  background-position: center center; 
  min-height: 750px;
  height: auto;
  
}
.wheels-adaptiv{
    display: none;
}
.bunner-button{
position: absolute;
left: 23%;
top: 60%;
border: solid 1px #f3f3f3;
background-color: white;
color: black;
box-shadow: 0px 2px 9px 4px rgba(255, 255, 255, 0.616);
padding: 10px 30px;
font-size: 3vh;
font-weight: bolder;
border-radius:9px;
}
.bunner-button:hover{
   background-color: rgb(255, 255, 255); 
   border: solid 1px #ffffff;
   box-shadow: 0px 2px 9px 1px rgb(255, 255, 255);
  cursor: pointer;
   transform: translate(-2px);
}
@media (width <=1970px) {
.bunner-button{
  left: 22%;
top: 64%;  
}
}
@media (width <=1890px) {
.bunner-button{
  left: 22%;
top: 64%;  
}
}
@media (width <=1650px) {
.bunner-button{
  left: 21%;
top: 64%;  
}
}
@media (width <=1350px) {
.banner-text p {
    font-size: 1.9vw;
}
.bunner-button{
  left: 25%;
top: 62%;  
}
}
@media (width <=1100px) {
.banner-text p {
    font-size: 2.1vw;
}
.bunner-button{
  left: 28%;
top: 63%;  
}
}
@media (width <=1000px) {
.bunner-button{
  left: 60%;
top: 69%;  
}
.banner-text{
    display: flex;
    flex-direction: column;
    line-height: 35px;
}
.bunner-button{
    position: relative;
    left: 10px;
    width: 40%;
}
.banner{
  background-color: black;
  background-repeat: no-repeat;
    height: 700px;
    background-image: none;

}
.banner-text h2{
    font-size: 40px;
     line-height: 28px;
}
.banner-text p{
     font-size: 2.9vw;
}
.wheels-adaptiv{
    display: block;
width: 500px;
position: absolute;
right: 0;
top: 64%;
}
}
@media (width <=700px) {
.wheels-adaptiv{
    display: block;
width: 400px;
position: absolute;
right: 0;
top: 71%;
}
.bunner-button{
    position: relative;
    left: 10px;
    width: 35%;
}
}
@media (width <=600px) {
.bunner-button{
    position: relative;
    left: 10px;
    width: 37%;
}
.wheels-adaptiv{
    display: block;
width: 370px;
position: absolute;
right: 0;
top: 67%;
}
}
@media (width <=630px) {
.bunner-button{
    position: relative;
    left: 10px;
    width: 49%;
    font-size: 2.3vh;
}
.wheels-adaptiv{
    display: block;
width: 390px;
position: absolute;
right: 0;
top: 71%;
}
.banner-text p{
    font-size: 3.9vw;
}
}
@media (width <=465px) {
.bunner-button{
    position: relative;
    left: 10px;
    width: 68%;
    font-size: 2.3vh;
}
.wheels-adaptiv{
    display: block;
width: 370px;
position: absolute;
right: 0;
top: 73%;

}
.banner-text h2{ 
    font-size: 30px;
}
.banner-text p{ 
font-size: 5.5vw;
width: 80%;
}
.banner-text span{
    font-size: 30px;
 }
br{
    display: none;
}
.banner-content {
    padding: 29px;
}
}