@import "tailwindcss";
body{
  padding: 0;
  margin: 0;
}
.banner-content{
 padding: 50px;
}
.banner-text h1{ 
  color: white;
  font-size: 64px;
}
.banner-text p{ 
  color: white;
  font-size: 32px;
}
.banner{
  background-image: url(../images/Group\ 6.png);
  background-repeat: no-repeat;
  height: 1500px;
}