@import "tailwindcss";

body{
  padding: 0;
  margin: 0;
 font-family: 'Inter', sans-serif;
}
.banner-content{
 padding: 50px;
}
.banner-text h2{ 
 color: white;
  font-size: 50px;
  display: flex;
  text-align: center;
  align-items: center;
}
.banner-text p{ 
  color: white;
  font-size: 1.6vw;
  margin-left: 15px;
}
.banner-text span{ 
  color: white;
  font-size: 50px;
 margin-right: 15px;
  
}

.banner{
  background-image: url(../images/banner-image.png);
  background-repeat: no-repeat;
  height: 900px;
}
.wheels-adaptiv{
    display: none;
}
.bunner-button{
position: absolute;
left: 23%;
top: 57%;
border: solid 1px #f3f3f3;
background-color: white;
color: black;
box-shadow: 0px 2px 9px 4px rgba(255, 255, 255, 0.616);
padding: 10px 30px;
font-size: 3vh;
font-weight: bolder;
border-radius:9px;
}
@media (width <=900px) {
.bunner-button{
  left: 60%;
top: 62%;  
}
.banner-text{
    display: flex;
    flex-direction: column;
    line-height: 35px;
}
.bunner-button{
    position: relative;
    left: 10px;
    width: 30%;
}
.banner{
  background-color: black;
  background-repeat: no-repeat;
    height: 700px;
}
.banner-text h2{
    font-size: 40px;
     line-height: 28px;
}
.banner-text p{
     font-size: 2.9vw;
}
.wheels-adaptiv{
    display: block;
width: 500px;
position: absolute;
right: 0;
top: 57%;
}
}
