@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.banner-content {
  padding: 50px;
}
.banner-text h2 {
  color: white;
  font-size: 50px;
  display: flex;
  text-align: center;
  align-items: center;
}
.banner-text p {
  color: white;
  font-size: 1.6vw;
  margin-left: 15px;
}
.banner-text span {
  color: white;
  font-size: 50px;
  margin-right: 15px;
}

.banner {
  background-image: url(../images/banner-image.png);
  background-repeat: no-repeat;

  background-position: center center;
  min-height: 750px;
  height: auto;
  background-size: 100%;
}
.wheels-adaptiv {
  display: none;
}
.bunner-button {
  position: absolute;
  left: 23%;
  top: 60%;
  border: solid 1px #f3f3f3;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 9px 4px rgba(255, 255, 255, 0.616);
  padding: 10px 30px;
  font-size: 3vh;
  font-weight: bolder;
  border-radius: 9px;
}
.bunner-button:hover {
  background-color: rgb(255, 255, 255);
  border: solid 1px #ffffff;
  box-shadow: 0px 2px 9px 1px rgb(255, 255, 255);
  cursor: pointer;
  transform: scale(0.95);
}

.services {
  padding: 40px 20px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.services-header h1 {
  margin-bottom: 50px;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
}

.services-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services-grid {
  width: 100%;
}

.services-row {
  display: flex;
  gap: 45px;
  margin-bottom: 45px;
}

.service-card {
  background: #fff;
  border-radius: 20px;
  width: 600px;
  box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border: 1px solid #eee;
  height: auto;
  transition: 0.3s ease;
}
.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 18px 40px rgba(0, 0, 0, 1);
}
.card-header {
  background: #000;
  padding: 12px 15px;
}

.service-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-icon img {
  width: 60px;
}

.service-card h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.service-list {
  list-style: none;
  padding: 30px;
  margin: 0;
}

.service-list li {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  font-size: 25px;
  line-height: 1.5;
}

.price {
  float: right;
  font-weight: 500;
}

.main-photo img {
  width: 550px;
  position: absolute;
  top: 1600px;
  right: 0%;
}
.acceptance-of-applications{
  background-image: url(../images/background\ for\ accepting\ applications.png);
   background-position: center center;
 background-size: 100%;
  height: 1100px;
  background-repeat: no-repeat;
  
}
.main-acceptance-of-applications{
  color: white;
  padding: 70px;
  
}
.Acceptance-of-applications{
  margin-top: 200px;
}
.Tire-disc-selection h1{
font-size: 45px;
}
.Tire-disc-selection p{
font-size: 32px;
}
.Acceptance-of-applications h1{
  font-size: 45px;
}
.number{
font-size: 32px;
border: solid #FFFFFF 4px;
width: 300px;
text-align: center;
padding: 15px;
border-radius: 15px;
}
.Waiting-period{
  font-size: 24;
}
.club-discounts-text h1{
font-size: 2.5vw;
font-weight: bold;
}
.club-discounts-text p{
font-size: 1.8vw;
color: #505050;
}
.club-discounts{
  padding: 100px;
}
.img-club{
  width: 25vw;
  height: auto;
  margin-left: 100px;
  margin-top: 2vw;
}
@media (width <=1970px) {
  .bunner-button {
    left: 22%;
    top: 57%;
  }
   .main-acceptance-of-applications{
    padding: 100px;
    
  }
}

@media (width <=1890px) {
  .bunner-button {
    left: 22%;
    top: 64%;
  }
}

@media (width <=1650px) {
  .bunner-button {
    left: 21%;
    top: 64%;
  }
  .acceptance-of-applications{
    background-size: 130%;
  }
  .main-acceptance-of-applications{
    padding: 60px;
  }
}

@media (width <=1292px) {
.main-photo img{
 display: none; 
}
.services-row{
display: flex;
flex-direction: column;
}
.service-card{
width: 85%;
margin: 2px auto;
}
}
@media (width <=1350px) {
  .main-photo img{
  width: 45%;
  }
  .banner-text p {
    font-size: 1.9vw;
  }

  .banner-text h2 {
    line-height: 30px;
  }

  .h2-active {
    padding-top: 50px;
  }

  .bunner-button {
    left: 25%;
    top: 55%;
  }

  .banner {
    background-size: 120%;
  }
}

@media (width <=1100px) {
  .banner-text p {
    font-size: 2.1vw;
  }

  .bunner-button {
    left: 28%;
    top: 54%;
  }
    .acceptance-of-applications{
    background-size: 147%;
  }
  .main-acceptance-of-applications{
    padding: 76px;
  }
}

@media (width <=1000px) {
  .bunner-button {
    left: 60%;
    top: 69%;
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    line-height: 35px;
  }

  .bunner-button {
    position: relative;
    left: 10px;
    width: 40%;
  }

  .banner {
    background-color: black;
    background-image: none;
    height: 700px;
  }

  .banner-text h2 {
    font-size: 40px;
    line-height: 28px;
  }

  .banner-text p {
    font-size: 2.9vw;
  }

  .wheels-adaptiv {
    display: block;
    width: 500px;
    position: absolute;
    right: 0;
    top: 64%;
  }

     .acceptance-of-applications{
    background-size: 196%;
    height: 100%;
  }
  .main-acceptance-of-applications{
    padding: 35px;
  }
}
@media (width <=800px) {
     .acceptance-of-applications{
    background-size: 250%;
  }
  .main-acceptance-of-applications{
    padding: 25px;
  }
  .Acceptance-of-applications{
  margin-top: 40px;
}
}
@media (width <=700px) {
 
  .wheels-adaptiv {
    width: 400px;
    top: 71%;
  }

  .bunner-button {
    position: relative;
    left: 10px;
    width: 35%;
  }
   .acceptance-of-applications{
    background-size: 360%;
    height: 100%;
  }
  .main-acceptance-of-applications{
    padding: 30px;
    
  }
  .Acceptance-of-applications{
  margin-top: 10px;
}
.Tire-disc-selection h1{
font-size: 30px;
}
.Tire-disc-selection p{
font-size: 25px;
}
.Acceptance-of-applications h1{
font-size: 30px;
}
.number{
  font-size: 15px;
  width: 35%;
}
}

@media (width <=630px) {
  .service-list li{
  line-height: 30px;
  }
  .bunner-button {
    position: relative;
    left: 10px;
    width: 49%;
    font-size: 2.3vh;
  }

  .wheels-adaptiv {
    width: 390px;
    top: 71%;
  }

  .banner-text p {
    font-size: 3.9vw;
  }
   .acceptance-of-applications{
    background-size: 360%;
    height: 100%;
  }
  .main-acceptance-of-applications{
    padding: 30px;
    
  }
  .Acceptance-of-applications{
  margin-top: 10px;
}
.Tire-disc-selection h1{
font-size: 30px;
}
.Tire-disc-selection p{
font-size: 25px;
}
.Acceptance-of-applications h1{
font-size: 30px;
}
.number{
  font-size: 15px;
  width: 35%;
}
}

@media (width <=600px) {
  .bunner-button {
    position: relative;
    left: 10px;
    width: 38%;
    min-width: 37%;
  }

  .wheels-adaptiv {
    width: 370px;
    top: 70%;
  }
       .acceptance-of-applications{
    background-size: 270%;
  }
  .main-acceptance-of-applications{
    padding: 30px;
    
  }
  .Acceptance-of-applications{
  margin-top: 10px;
}
.Tire-disc-selection h1{
font-size: 39px;
}
.Tire-disc-selection p{
font-size: 25px;
}
.Acceptance-of-applications h1{
font-size: 39px;
}
.number{
  font-size: 15px;
  width: 29%;
}
}
@media (width <=533px) {
.service-list li{
line-height: 45px;
}
.service-list span{
float: none;
margin-left: 20px;
font-weight: 600;
font-size: 22px;
}
}
@media (width <=500px) {
  .bunner-button {
    width: 50%;
  }
  .wheels-adaptiv {
    top: 73%;
  }
    .acceptance-of-applications{
    background-size: 360%;
    height: 100%;
  }
  .main-acceptance-of-applications{
    padding: 30px;
    
  }
  .Acceptance-of-applications{
  margin-top: 10px;
}
.Tire-disc-selection h1{
font-size: 30px;
}
.Tire-disc-selection p{
font-size: 25px;
}
.Acceptance-of-applications h1{
font-size: 30px;
}
.number{
  font-size: 15px;
  width: 35%;
}
}

@media (width <=465px) {

   .acceptance-of-applications{
    background-size: 470%;
    height: 100%;
  }
  .main-acceptance-of-applications{
    padding: 25px;
    
  }
  .Acceptance-of-applications{
  margin-top: 10px;
}
.Tire-disc-selection h1{
font-size: 20px;
}
.Tire-disc-selection p{
font-size: 15px;
}
.Acceptance-of-applications h1{
font-size: 20px;
}
.number{
  font-size: 16px;
  width: 40%;
}
  .banner-content {
    padding: 29px;
  }

  .bunner-button {
    position: relative;
    left: 10px;
    width: 68%;
    font-size: 2.3vh;
  }

  .wheels-adaptiv {
    width: 370px;
    top: 73%;
  }

  .banner-text h2 {
    font-size: 30px;
  }

  .banner-text span {
    font-size: 30px;
  }

  .banner-text p {
    font-size: 5.5vw;
    width: 80%;
  }

  br {
    display: none;
  }
}
@media (width <=380px) {
  .services-header h1{
    margin-top: 40px;
  font-size: 24px;
  }
  .service-icon h2{
  font-size: 18px;
  }
.number{
  font-size: 14px;
  width: 47%;
}
.service-list li{
font-size: 22px;
font-weight: 500;
}
.service-list span{
font-size: 20px;
}
}

/* ===== Адаптивность услуг ===== */
/* Мобильные телефоны (до 767px) */
/* @media (max-width: 785px) {
  .services {
    padding: 60px 15px 0;
  }

  .services-header h1 {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  .services-content {
    flex-direction: column;
  }

  .services-grid {
    width: 100%;
    order: 2;
  }

  .services-row {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
  }

  .service-card {
    width: 100%;
    border-radius: 15px;
  }

  .card-header {
    padding: 18px 20px;
  }

  .service-icon {
    gap: 12px;
  }

  .service-icon img {
    width: 50px;
  }

  .service-card h2 {
    font-size: 16px;
  }

  .service-list {
    padding: 20px;
  }

  .service-list li {
    padding: 12px 0;
    font-size: 16px;
    line-height: 1.3;
  }

  .main-photo {
  display: none;
  }

  .main-photo img {
     display: none;
  }
}
@media(width <=789px ){

}
/* Очень маленькие экраны (до 480px) */
/* @media (max-width: 480px) {
  .services-header h1 {
    font-size: 20px;
    margin-bottom: 25px;
    width: auto;
  }

  .card-header {
    padding: 15px;
  }

  .service-icon {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  .service-icon img {
    width: 45px;
  }

  .service-card h2 {
    font-size: 16px;
  }

  .service-list {
    padding: 15px;
  }

  .service-list li {
    font-size: 14px;
    padding: 10px 0;
  }

  .price {
    font-size: 14px;
  }

  .main-photo img {
    max-width: 400px;
  }
} */

/* Альбомная ориентация на мобильных */
/* @media (max-width: 780px) and (orientation: landscape) {
  .services-header h1 {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .service-card {
    min-height: auto;
  }

  .service-list li {
    font-size: 14px;
    padding: 10px 0;
  }

  .main-photo {
    margin-bottom: 20px;
  }

  .main-photo img {
    max-width: 400px;
  }
} */

/* Планшеты (768px - 1199px) */
/* @media (min-width: 780px) and (max-width: 1199px) {
  .services {
    padding: 30px 20px 0;
  }

  .services-header h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .services-content {
    flex-direction: column;
  }

  .services-grid {
    width: 100%;
    order: 2;
  }

  .services-row {
    gap: 30px;
    margin-bottom: 30px;
  }

  .service-card {
    width: calc(50% - 15px);
  }

  .service-list li {
    font-size: 20px;
  }

  .main-photo {
    width: 100%;
    justify-content: center;
    order: 1;
    margin-bottom: 40px;
  }

  .main-photo img {
    width: 80%;
    max-width: 600px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: auto;
    right: auto;
  }
} */

/* Ноутбуки (1200px - 1599px) */
/* @media (min-width: 1200px) and (max-width: 1599px) {
  .services {
    padding: 30px 20px 0;
  }

  .service-card {
    width: calc(50% - 24px);
  }

  .service-list li {
    font-size: 22px;
  }

  .main-photo img {
    width: 650px;
    margin-left: -250px;
  }
} */
