nav {
  padding: 4vw;
}
.hover-underline:hover::after {
  width: 100%;
}

.header-scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.95);
}

.menu-icon {
  transition: transform 0.3s ease;
}

.menu-icon.active {
  transform: rotate(90deg);
}

html {
  scroll-behavior: smooth;
}
