<link rel="stylesheet" href="../../public/css/navbar_style.css" />
<header class="bg-white">
  <nav class="container mx-auto px-4 py-4">
    <div class="flex justify-between items-center">
      <!-- Логотип (добавьте свой) -->
      <div class="flex items-center space-x-2">
        <a
          href="/"
          class="text-2xl font-bold text-gray-900 hover:text-blue-600 transition-colors duration-200"
        >
        </a>
      </div>

      <div class="hidden md:flex items-center space-x-6">
        <a
          href="/"
          class="text-gray-700 font-medium hover:text-blue-600 hover:underline underline-offset-4 transition-colors duration-200"
        >
          Главная
        </a>
        <a
          href="/selection"
          class="text-gray-700 font-medium hover:text-blue-600 hover:underline underline-offset-4 transition-colors duration-200"
        >
          Подбор
        </a>
        <a
          href="/catalog"
          class="text-gray-700 font-medium hover:text-blue-600 hover:underline underline-offset-4 transition-colors duration-200"
        >
          Каталог
        </a>
        <a
          href="/about"
          class="text-gray-700 font-medium hover:text-blue-600 hover:underline underline-offset-4 transition-colors duration-200"
        >
          О нас
        </a>
        <a
          href="/reviews"
          class="text-gray-700 font-medium hover:text-blue-600 hover:underline underline-offset-4 transition-colors duration-200"
        >
          Отзывы
        </a>
        <a
          href="/contacts"
          class="text-gray-700 font-medium hover:text-blue-600 hover:underline underline-offset-4 transition-colors duration-200"
        >
          Контакты
        </a>
      </div>
    </div>
  </nav>
</header>
